{% extends "base.html" %}
{% load static %}
{% block title %}Médicos{% endblock %}
{% block content %}
<div id="content">
    <div class="container">
        <div class="alert alert-info">Foram encontrados: {{medics | length}} médicos </div>
        <div class="row">
            {% for medic in medics %}
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <div class="card mb-4">
                        <div class="image-circle" style="background-image:url('/media/{{medic.image}}');"></div>
                        <div class="card-body">
                            <h5 class="card-title"> {{ medic.user.get_full_name }} </h5>
                            <h6> Nota: {{medic.show_scoring_average}}<i class="fa fa-star"></i></h6>
                            <ul class="specialities">
                                {% for speciality in medic.specilities.all %}
                                    <li>{{ speciality }} </li>
                                {% endfor %}
                            </ul>
                            <div class="address mb-2" title="{{ medic.addresses.first.address }}" alt="{{ medic.addresses.first.address }}">
                                {{ medic.addressses.first.address | default:'Nenhum endereço cadastrado.' | slice:":15"}}.1.slim.min.js
                            </div>
                            <a href={% url 'profile' medic.user.id %} class="btn btn-primary btn-card">Ver médico</a>
                            <button class="btn btn-danger btn-card"><i class="fa fa-heart"></i>Favoritos</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}